*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Dimensioni e distanziamento pagina*/
body{
    margin: auto;
    width: 80%;
    padding: 20px;
}

header{
    background-color: #e579e6;
    height: 50px;
}

main::after{
    content: "";
    clear: both;
    display: table;
}

.container{
    background-color: #e1d67a;
    height: 200px;
}

/*Distanziamento sezioni*/
header, .container, .title{
    margin-bottom: 20px;
}

/*Blocco contenitori blu*/
.container2{
    background-color: #0086fe;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    display: inline-block;
}

/*Sottocontenitori azzurri*/
.title, .middle, .left{
    background-color: #abcfe7;

}

.title{
    float: top;
    height: 50px;
}

.left, .middle{
    float: left;
    height: 300px;
}

.left{
    width: 20%;
}

.middle{
    width: 56%;
    margin: 0 2%; 
}
/*Fine parte sottocontenitori*/

footer{
    background-color: #8801fe;
    height: 50px; 
}